/* Write your global styles here, in PostCSS syntax */

@tailwind base;

body {
  background-image: url("background.jpg");
  background-image: no-repeat;
  background-size: cover;
}


@tailwind components;

@tailwind utilities;
